/*
AnchorPane{
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}*/
Pagination{
    -fx-background-color: black;
}
ImageView:hover{
    -fx-cursor: hand;
}
Label:hover{
    -fx-cursor: hand;
}
JFXHamburger:hover{
    -fx-cursor: hand;
}
#adPane:hover{
    -fx-cursor: hand;
}
#sortMenu:hover{
    -fx-cursor: hand;
}
